.poster {
  &__container {
  }

  &__body {
  }

  &__top {
    position: relative;
    margin: 0 rem(-20);
    padding: rem(10) rem(20);
    display: flex;
    align-items: center;
    column-gap: rem(10);

    border-top: 1px solid rgba(35, 35, 35, 0.4);
    border-bottom: 1px solid rgba(35, 35, 35, 0.4);
  }

  &__back {
    position: relative;
    color: #232323;
    font-size: rem(10);
    font-weight: 700;

    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: rem(1);
      bottom: rem(-1);
      left: 0;
      background-color: #232323;
    }
  }

  &__button {
    font-family: Gravity;
    font-size: 26px;
    line-height: 119.2%; /* 31/26 */
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    column-gap: rem(5);

    &::before {
      font-size: rem(20);
      transition: all 0.3s ease 0s;
    }

    &.active {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  &__label {
    border-radius: 29px;
    border: 1px solid #232323;
    padding: rem(5) rem(10);
    font-size: rem(10);
    font-weight: 700;
    line-height: normal;
    margin-left: auto;
  }

  &__list {
    border-radius: 0px 0px 25px 25px;
    background: #232323;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 4;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: rem(20);
    gap: rem(10);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease 0s;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(43, 43, 43, 0.6);
      z-index: -1;
    }
  }

  &__list-close {
    position: relative;
    position: absolute;
    width: 100%;
    height: 5000vw;
    top: 100%;
    left: 0;
    background: rgba(43, 43, 43, 0.6);
  }

  &__item {
    border-radius: 29px;
    border: 1px solid #fffafa;
    padding: rem(5) rem(10);
    font-size: rem(10);
    font-weight: 700;
    color: #fffafa;
    line-height: 120%;
    width: max-content;

    &.active {
      opacity: 0.6;
    }
  }

  &__slider {
    padding: rem(10) 0 rem(20);
  }

  &__wrapper {
  }

  &__slide {
    border-radius: rem(50);
    overflow: hidden;
    position: relative;
  }

  &__pagination {
    margin-top: rem(10);
  }

  &__date-title {
    font-size: 14px;
    line-height: 121.4%; /* 17/14 */
    font-weight: 400;
    margin-bottom: rem(5);
  }

  &__date-slider {
  }

  &__date-wrapper {
  }

  &__date-slide {
  }

  &__text {
    font-size: 18px;
    line-height: 120%;
    font-weight: 400;
    padding: rem(20) 0;
  }
}

.slide-poster {
  &__img-ibg {
    padding-bottom: 100%;
    z-index: -1;
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: rem(20);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__label {
    border-radius: 29px;
    border: 1px solid #fffafa;
    padding: rem(5) rem(10);
    font-size: rem(10);
    font-weight: 700;
    color: #fffafa;
    line-height: 120%;
    width: max-content;

    align-self: flex-end;
  }

  &__inner {
  }

  &__title {
    color: #fffafa;
    font-family: Gravity;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: rem(29);
  }

  &__date {
    color: #fffafa;
    font-size: 10px;
    line-height: 120%; /* 12/10 */
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    display: flex;
    flex-direction: column;
    gap: rem(5);
  }
}

.date-slider {
  border-top: 1px solid rgba(35, 35, 35, 0.4);
  border-bottom: 1px solid rgba(35, 35, 35, 0.4);
  padding: 0 rem(20);
  margin: 0 rem(-20);

  &_white {
    border-color: rgba(255, 250, 250, 0.5);
    .slide-date {
      color: #fffafa;
    }
    .slide-date_current {
      background-color: #fffafa;
      color: #232323;
    }
    .slide-date_holiday {
    }
  }
}

.slide-date {
  padding: 0 rem(10);
  display: flex;
  flex-direction: column;
  align-items: center;
  &__name {
    font-size: 30px;
    line-height: 120%; /* 36/30 */
    font-weight: 350;
  }

  &__num {
    font-family: Impact;
    font-size: 30px;
    line-height: 120%; /* 36/30 */
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &_current {
    border-radius: 6px;
    border: 1px solid #212121;
    background: #212121;
    color: #fffafa;
  }
  &_holiday {
    opacity: 0.6;
  }
}

//========================================================================================================================================================

.poster-top {
  padding-bottom: rem(40);
  background-color: #fffafa;
  border-radius: 50px 50px 7px 7px;
  border-top: 3px solid #212121;
  &__container {
  }

  &__body {
  }

  &__title {
    text-align: center;
    font-size: rem(26);
    font-weight: 700;
    line-height: 119.2%; /* 31/26 */
    padding: rem(20) 0;
  }

  &__items {
  }

  &__item {
    display: flex;
    justify-content: space-between;
    column-gap: rem(10);
    padding: rem(20) 0 rem(10);

    border-bottom: 1px solid rgba(35, 35, 35, 0.4);

    &:first-child {
      border-top: 1px solid rgba(35, 35, 35, 0.4);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(15);
    flex: 1 1 auto;
  }

  &__item-title {
    color: #232323;
    font-size: 16px;
    line-height: 118.8%; /* 19/16 */
    font-weight: 700;
    text-transform: uppercase;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__label {
    border-radius: 29px;
    border: 1px solid #232323;
    padding: rem(5) rem(10);
    font-size: rem(10);
    font-weight: 700;
    color: #232323;
    line-height: 120%;
    width: max-content;
  }

  &__link {
    font-size: rem(23);
  }

  &__img-ibg {
    border-radius: rem(14);
    overflow: hidden;
    flex: 0 0 percent(65, 280);
    padding-bottom: percent(85, 280);
  }
}
