/* Slider.module.css */
.hero__wrapper {
    overflow: hidden;
    position: relative;
}

.swiper-wrapper {
    display: flex;
    transition: all 800ms ease;
}

.slide {
    flex: 0 0 100%;
    opacity: 0;
    transition: opacity 800ms ease;
}

.slide.active {
    opacity: 1;
}
