*,*::after,*::before{
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: inherit;
}
#root{
  overflow: clip;
  min-height: 100%;
}
.center{
  width: fit-content;
  margin: 0 auto;
}
