*,*::after,*::before{
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: inherit;
}
#root.visible{
  overflow: clip;
  min-height: 100%;
}
.center{
  width: fit-content;
  margin: 0 auto;
}
.row-between{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.carousel .slider-wrapper {

  width: 90vw !important    ;
}
.main_slide{
  width: 90vw;
  height: 150px;
  object-fit: cover;
  border-radius: 40px;
}
